# History files
.Rhistory
.Rapp.history

# Session Data files
*.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# more stuff
*.png

# GIS
*.shp
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.shx
*.xml
*.mxd

*.csv
Biotics/Biotics Monthly Feature Service Update.pyt.xml
Biotics/Biotics Monthly Feature Service Update.pyt.xml
BulkLoading/BulkLoadPrepToolbox.pyt.xml
*.pyc
*.db
Biotics/Biotics Monthly Feature Service Update.pyt.xml
BulkLoading/BulkLoadPrepToolbox.pyt.xml
FIND/.idea/.name
FIND/.idea/FIND.iml
FIND/__pycache__/FIND_et_2022.cpython-37.pyc
FIND/archived/__init__.py
*.xml
.idea/.name
*.iml
*.xml
*.xml
*.xml
FIND/FIND_NeedsAttentionReport.txt
